@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.hero{
  background-color: #1F2937;
  color: #eee;
  display: flex;
  justify-content: center;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
}

a:hover{
  color: #275ba5;
  text-decoration: underline;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.logo{
  font-size: 24px;
  font-weight: bolder;
  color: #F9FAF8;
}

ul{
  display: flex;
  gap: 17px;
}

.man{
  max-width: 900px;
  padding: 0px 20px;
}

.sub-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 90px 0px;
  gap: 30px;
  flex-shrink: 0;
}

h1,p{
  margin: 0px;
  padding: 0px;
}

.left, .right{
  flex: 1;
  min-height: 100%
}

h1{
  font-size: 48px;  
}

.right{
  background: #727781;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button1{
  color: #eee;
  background:#3882F6;
  border-style: none;
  border-radius: 6px ;
  padding: 10px 32px;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 17px;
}

button:hover{
  cursor: pointer;
  background-color: #eeeeee;
  color: #2b6bc4;
}

.left p, a{
  color: #e5e7eb;
  font-size: 18px;
}

.right p, a{
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
}

.footer{
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  color: #e5e7eb;
  padding: 30px 0px;
}

.title{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  margin-bottom: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont-1{
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.card{
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 10px;
  flex-shrink: 1;
}

.photos{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.super-card{
  text-align: center;
  max-width: 150px;
}

.card{
  margin-bottom: 10px;
}

.cont-2 {
  background: #e5e7eb;    
  width: 100vw;           
  padding: 90px 30px;     
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.two {
  max-width: 720px;
  width: 100%;
  text-align: center;
}

.quote {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  margin-bottom: 20px;
  text-align: justify;
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: #1F2937;
  justify-self: end;
}
